@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root{
    --blue-theme-background-color :#151515;
    --blue-theme-main-color : #00D8FF;
    --blue-theme-sub-text-color : #6C63FF;
    --blue-theme-nav-background-color : #202020;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background: var(--blue-theme-background-color);
    height: 100%;
}

#root{
    height: 100%;
}